extends ../shared/layout.jade

block title
  title Angular - Tags input code comparison
block script
  script(src='app.js')
block body
    .main(ng-app='tagsInput')
      h1.title Angular
      tags-input