doctype html
html(ng-app='tagsInputRx')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(property='og:title', content='Tags input code comparison')
    meta(property='og:site_name', content='Tags input code comparison')
    meta(property='og:url', content='https://github.com/dakolech/tags-input-code-comparison')
    meta(property='og:description', content='Tags input code comparison')
    title Tags input code comparison - Angular with RxJS
    link(rel='icon', type='image/ico', href='favicon.ico')
    script(src='app.js')
  body
    .main
      h1.title Angular with RxJS
      tags-input