extends ../shared/layout.jade

block title
  title Angular RxJS - Tags input code comparison
block script
  script(src='app.js')
block body
    include ../shared/back-button.jade
    .main(ng-app='tagsInputRx')
      h1.title Angular with RxJS
      tags-input