.tags-input
  form.tags-wrapper
    .tags-container
      .tag.label.label-primary(*ngFor="#selectedTag of selectedTags")
        span.tag-name {{ selectedTag.name }}
        span &nbsp;
          b.remove((click)="removeTag(selectedTag)") x
    input.form-control(type="text", placeholder="{{placeholder}}", name="tag" autocomplete="off",
        (input)='search($event.target.value)', (keydown)='checkKeyDown($event)', [(ngModel)]="searchText")
    ul.list-group.suggestions-list
      li.list-group-item.suggested-tag(*ngFor="#suggestion of suggestions; #index = index",
          [ngClass]="{ active: selectedIndex === index || \
              suggestion.name.toLowerCase() === searchText.toLowerCase() }",
              (click)="addSelectedTag(suggestion)",
              (mouseover)="selectedIndex = index") {{ suggestion.name }}
