$image-size: 200px;
$angular-image-resize: 50px;

.shared {
  .main-table {
    margin-top: 50px;

    .row {
      text-align: center;
    }
    img {
      width: $image-size;
      height: $image-size;

      &.angular {
        -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.75));
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.75));

        &.scale {
          transform: scale(1.9);
        }
      }
    }
  }

  .text {
    position: relative;
    z-index: 20;
  }
}

.angular-rxjs {
  position: relative;
  height: $image-size;
  margin: 0;

  .container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: $image-size;
    height: $image-size;

    img {
      position: absolute;
      left: 0;

      &.angular1 {
        margin-left: 43px;
        margin-top: 46px;
        width: $image-size - $angular-image-resize;
        height: $image-size - $angular-image-resize;
        z-index: 4;
        transform: scale(1.9) rotate(22deg);
      }

      &.rxjs.front {
        z-index: 5;
        /*Chrome,Safari*/
        -webkit-clip-path: polygon(50% 0%, 61% 0, 86% 25%, 89% 36%, 82% 45%, 31% 48%, 3% 53%, 1% 85%, 0% 38%, 0 5%);

        /*Firefox*/
        clip-path: url('#angularClipPolygon');
      }

      &.rxjs.back {
        z-index: 3;
      }
    }
  }
}


.menu {
  position: fixed;
}